.quiz {
    margin: 0 auto;
    max-width: 800px; /* Limite la largeur du quiz sur les grands écrans */
    padding: 20px;
    padding-bottom: 80px; /* Ajoute une marge en bas pour éviter le chevauchement avec la barre de navigation */
    background-color: #f9f9f9; /* Couleur de fond légère pour distinguer le quiz du reste de la page */
    border-radius: 15px; /* Arrondit les coins */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre pour un effet de profondeur */
}

@media (min-width: 1024px) {
    .quiz {
        margin: 20px auto; /* Centre le quiz horizontalement */
    }
}

.home {
    text-align: center;
}

.home h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.home button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.home button:hover {
    background-color: #0056b3;
}

.question,
.order-question {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question h3,
.order-question h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option,
.draggable-option {
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px; /* Arrondit les bordures */
    margin: 10px; /* Ajoute de l'espace entre les bulles */
    text-align: center; /* Centre le texte à l'intérieur de la bulle */
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease; /* Transition douce pour les changements de couleur */
}

.droppable-container > li:not(.draggable-option) {
    border: none !important;
    outline: none !important;
    background: transparent !important;
    height: 0 !important; /* pour qu’il ne prenne pas de place visuelle */
    margin: 0 !important;
    padding: 0 !important ;
}

.option.selected {
    background-color: #add8e6; /* Utilise une couleur bleu clair pour les options sélectionnées */
    border-color: #add8e6; /* Assure que la bordure soit de la même couleur que l'arrière-plan */
}

.option.green,
.draggable-option.green {
    background-color: #98fb98; /* Vert pâle pour les bonnes réponses */
    border-color: #98fb98; /* Assure que la bordure soit de la même couleur que l'arrière-plan */
}

.option.red,
.draggable-option.red {
    background-color: #f08080; /* Rouge clair pour les mauvaises réponses */
    border-color: #f08080; /* Assure que la bordure soit de la même couleur que l'arrière-plan */
}

.option.yellow {
    background-color: #ffffff; /* blanc pour les bonnes réponses non sélectionnées */
    border-color: #98fb98; /* Change la bordure à vert pour les bonnes réponses non sélectionnées */
}

.draggable-option {
    padding: 10px;
    margin: 5px;
    list-style-type: none;
    border-radius: 25px; /* Arrondit les réponses */
    border: 2px solid black; /* Bordure par défaut pour les réponses */
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease; /* Transition douce pour les changements de couleur */
    display: inline-block; /* Affiche les réponses en ligne */
    text-align: center; /* Centre le texte à l'intérieur des réponses */
}

.results h2 {
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed; /* Fixe le conteneur en bas de la page */
    bottom: 20px; /* Espace depuis le bas de la page */
    left: 50%;
    transform: translateX(-50%); /* Centre le conteneur horizontalement */
    width: 80%; /* Largeur du conteneur */
    background-color: white; /* Arrière-plan blanc pour le conteneur */
    padding: 10px;
    border-radius: 15px; /* Arrondit les bords du conteneur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une légère ombre pour un effet de profondeur */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button.submit-button {
    background-color: #28a745;
}

button.submit-button:hover {
    background-color: #218838;
}
